@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

body{
    padding: 0;
    margin:0;
    font-family: "Kdam Thmor Pro", sans-serif;
    background-image: url(./clock.jpg);
    background-size: cover;
}
.wrapper{
    width: 60vw;
    height: auto;
    margin: auto;
    margin-top: 7vw;
    background-color: rgba(67, 106, 236, 0.315);
    border-radius: 10px;
    border: 2px solid #8ec4f7;

}
.whole{
    margin: auto;
    text-align: center;
    
    }
.block {
    width: 12vw;
    padding: 0 3.5vw;
    display: inline-block;
}
.whole h4 {
    font-size: 3vw;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #fbfafc;
    margin-top: 2vw;
    color: rgb(178, 202, 253);
    text-shadow: #080808 1px 0 10px;
}
.title {
    font-size: 2vw;
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #fbfafc;
    color: rgb(248, 249, 250);
    text-shadow: #080808 1px 0 10px;
}
input[type="text"] {
    width: 12vw;
    margin: auto;
    outline: none;
    min-height: 50px;
    border: 2px solid #8caef7;
    background-color: #f7f7f7;
    border-radius: 5px;
    color: #0d0d0e;
    font-size: 1.5vw;
}
input[type="button"] {
    width: 7vw; 
    margin: 1.5vw;
    border:1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #2e2d65a8;
    color: #fdf8f8;
    padding: 1vw 1vw;
    text-align: center;
    font-size: 1.20vw;
}
#output{
    text-align: center;
    color: rgb(0, 3, 39);
    font-size: 1.75vw;
}
input[type="button"]:hover {
    background-color: #579de483;
}
input[type="text"]:hover {
    background-color: #c5c1c1c4;
}
#soumili{
    color: #ffffff;
    font-size: 2vw;
    text-align: center;
    font-family: "Zeyada", cursive;
    text-decoration: underline;
    text-shadow: #080808 1px 0 10px;
}
@media  screen and (max-width: 480px) {
    body{
        background-image: url(./clock1.jpg);
        background-size:75vh;
        background-position-x: center;
    }
    .wrapper{
        width: 80vw;
        height: 45vh;
        margin-top: 30vh;
    }
    .whole h4{
        font-size: 8vw;
    }
    .title{
        font-size: 6vw;
    }
    .block{
        margin: 15px;
        padding: 0 0;
        width: fit-content;
    }
    input[type="text"] {
        width: 15vw;
        font-size: 3.5vw;
    }
    input[type="button"] {
        font-size: 3.5vw;
        width: 20vw;
        margin: 3vw;
        height: 13vw;
        padding: 1vw;
    }
    #output{
        font-size: 4vw;
        text-shadow: #ffffff 1px 0 10px;
    }
    #soumili{
        font-size: 6vw;
        text-decoration: underline;
        text-shadow: #080808 1px 0 10px;
    }
}
